@import "../../scss/formCommon.module.scss";

.formContainer {
  background: url("../../../public/img/people-images/14.png") bottom -120px left 50% no-repeat;
  background-color: white;
  padding: 60px 20px 380px 20px;
}
